<div [ngStyle]="{'max-width': '500px'}"  class="d-flex flex-column container">
  <form #gastosForm="ngForm"
  (ngSubmit)="addGastos(gasto); provider.getGastos(); gastosForm.resetForm()">
    <mat-form-field appearance="fill">
    <mat-label>Escoje una fecha</mat-label>
      <input
      required
      #fecha="ngModel"
      name=fecha
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="gasto.fecha">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p [hidden]="!fecha.touched || fecha.valid"
    class="alert alert-danger">La fecha es obligatoria</p>
    <mat-form-field appearance="fill">
      <mat-label>Monto</mat-label>
      <input
      required
      matInput
      #monto="ngModel"
      name="monto"
      type="number"
      [(ngModel)]="gasto.monto">
    </mat-form-field>
    <p [hidden]="!monto.touched || monto.valid"
    class="alert alert-danger">El monto es obligatorio</p>
    <div class="row">
      <div class="col">
        <button type="submit" [disabled]="!gastosForm.valid"
        mat-raised-button
        color="primary">
        Agregar
        </button>
      </div>
    </div>
  </form>
  <hr>
  <h2 *ngIf="fecha.value" >Los gastos del día {{ fecha.value | date }}</h2>
  <h2 *ngIf="monto.value" >Son de {{ monto.value | currency:'¢' }}</h2>
</div>