<div [ngStyle]="{'max-width': '500px'}"  class="d-flex flex-column container">
  <mat-form-field appearance="fill">
  <mat-label>Escoje una fecha</mat-label>
    <input
    #fecha
    matInput
    [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Monto</mat-label>
    <input
    matInput
    #monto
    type="number">
  </mat-form-field>
  <button
  mat-raised-button
  color="primary"
  (click)="addGastos({'fecha': fecha.value, 'monto': monto.value})">
  Agregar
  </button>
  <hr>
  <h2 *ngIf="fecha.value" >Los gastos del día: {{ fecha.value }}</h2>
  <h2 *ngIf="monto.value" >Son de: {{ monto.value | currency:'¢' }}</h2>
</div>