<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo-small" src="../../assets/logo-carnivoros.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['ventas']" aria-current="page">Ventas</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['gastos']">Salidas</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['balance']" >Balance</a>
      </div>
    </div>
  </div>
</nav>
